.venv/
__pycache__/
.pytest_cache/
repo-push-temp/
data/events.csv
configs/notifications.json
scratch/
data/media/
data/events.db
*.log
.env
.ipynb_checkpoints/
configs/db.json

# Cloudflare Tunnel local binary & config
cloudflared.exe
config.yml
config.yaml
data/pytest_tmp/
data/*.sqlite
data/*.csv
data/test*
data/video_stream_frame.jpg
data/*.db
data/temp_test/
data/debug*
app_fall/android/build/
