{
  "turso": {
    "url": "libsql://your-db-name-here.turso.io",
    "auth_token": "YOUR_TURSO_JWT_AUTH_TOKEN"
  },
  "cloudinary": {
    "cloud_name": "YOUR_CLOUD_NAME",
    "api_key": "YOUR_API_KEY",
    "api_secret": "YOUR_API_SECRET"
  }
}